<style>
    .default-editor {
        color: 'yellow' !important;
    }
</style>
<div class="col-sm-8 col-md-8 col-lg-9">
    <div class="client_profile editor_detail">
        <div class="order_detail_box">
            <div class="order_detail_box_in">
                <a ui-sref="backoffice.editors.edit({id: editor.addForm.userId})" class="edit">Edit</a>
                <h2>
                    <img src="{{editor.profile_image}}" alt=""> {{editor.addForm.name}}
                </h2>
                <span class="active_select">
                    <select name="status" ng-model="editor.addForm.status" ng-change="editor.changeStatus(editor.addForm.status);">
                        <option value="1">Active</option>
                        <option value="2">Deactive</option>
                    </select>
                </span>
            </div>
            <div class="order_detail_box_in">
                <ul class="client_order_detail">
                    <li>
                        <span>Company :</span> {{editor.addForm.company_name}}</li>
                    <li ng-if="editor.addForm.address != ''">
                        <span>Office Address :</span> {{editor.addForm.address}} </li>
                    <li ng-if="editor.addForm.phone != ''">
                        <span>Phone :</span> {{editor.addForm.phone}}</li>
                    <li ng-if="editor.addForm.ein != ''">
                        <span>EIN :</span> {{editor.addForm.ein}}</li>
                    <li ng-if="editor.addForm.createdAt != ''">
                        <span>Add Date and Time :</span> {{editor.addForm.createdAt}}</li>
                    <li>
                        <span>Email :</span> {{editor.addForm.email}} </li>
                    <li>
                        <span>Password :</span>
                        <input placeholder="Password" ng-model="editor.addForm.password" type="text" readonly>
                    </li>
                    <li>
                        <div ng-if="editor.addForm.isDefaultEditor == '0'" class="bottom_btn_lg">
                            <button type="button" ng-click="editor.setAsDefaultEditor($event)">
                                <i class="fa fa-star" id="ed-{{editor.addForm.userId}}"></i> Set as Default Editor</button>
                        </div>
                        <div ng-if="editor.addForm.isDefaultEditor == 1" class="bottom_btn_lg">
                            <button type="button">
                                <i class="fa fa-star" style="color:yellow !important" id="ed-{{editor.addForm.userId}}"></i>Default Editor</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="order_detail_box">
            <form name="editorForm" novalidate angular-validator angular-validator-submit='editor.uploadDocs()' enctype="multipart/form-data">
                <div class="order_detail_box_in">
                    <div class="order_head">
                        <h2>
                            <i class="fa fa-upload"></i> Upload Documents</h2>
                    </div>
                </div>
                <div class="order_detail_box_in">
                    <div class="upload_file_doc">
                        <ul>
                            <li>
                                <div class="upload_file_feild">
                                    <input id="txt" type="text" onclick="javascript:document.getElementById('file').click();">
                                    <input id="file" type="file" ngf-select="uploadMultipleDocument($files, $invalidFiles)" ng-model="editor.addForm.document_file"
                                        name="img" multiple>
                                    <a class="select_file" href="javascript:void(0)">Upload file</a>
                                </div>
                            </li>
                            <li ng-repeat="file in editor.userFiles track by $index" id="preview-images">
                                <div class="attched_doc">
                                    <img ng-if="file.type != 1" ng-src='{{file.image_path}}' alt="" />
                                    <img ng-if="file.type == 1 && file.extension != 'pdf'" src="../assets/backoffice/images/doc_icon.png" alt="" />
                                    <img ng-if="file.type == 1 && file.extension == 'pdf'" src="../assets/backoffice/images/pdf_icon.png" alt="" />
                                </div>
                                <div class="attched_doc_name">
                                    <p>{{file.original_name}} ( {{file.size}} )</p>
                                    <a class="delete_attach" href="javascript:void(0)" ng-click="editor.deleteUserFile(file,$index)">Delete</a>
                                </div>
                            </li>
                        </ul>
                        <button type="submit" name="submit" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </div>

        <order-list user-id="editor.addForm.userId" user-title="All Orders Assigned to Editor" role-id="editor.addForm.roleId"></order-list>
        <br>
        <div class="bottom_btn_lg">
            <button type="button" ng-click="editor.deleteEditor()">Delete Editor</button>
        </div>
    </div>
</div>