<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{skills.title}} Skills</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.skills" class="btn btn-info btn-flat pull-left">Back to All Skills</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="skillsForm" novalidate angular-validator angular-validator-submit='skills.saveSkills()'>
                                <input ng-if="skills.editFlag" type="hidden" name="skills_id" ng-model="skills.skillsForm.skills_id">

                                <div class="form-group" ng-if="skills.catFlag || skills.catEditFlag">
                                    <label class="col-sm-4 control-label">Skills List</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="skills.skillsForm.cat_id" validate-on='dirty' required="">
                                            <!-- <option value="">Select Skills List</option> -->
                                            <option value="{{status.skills_id}}" ng-repeat="(index, status) in skills.skillsList" ng-selected="skills.skillsForm.cat_id == status.skills_id">{{status.skills_name}}</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="skills_name" ng-model="skills.skillsForm.skills_name" placeholder="Enter Skills Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="skills.skillsForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in skills.statusList" ng-selected="skills.skillsForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="skillsForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!skills.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="skills.editFlag" ui-sref="backoffice.skills">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>