<!DOCTYPE html>
<html lang="en" ng-app="heavenApp">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- <base href="/"> -->
    <title>Heaven</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/admin/assets/images/favicon.png">
    <!-- gulp for vendor css files -->
    <link rel="stylesheet" type="text/css" href="./frontoffice/dist/frontoffice_vendor_css.css">
    <link rel="stylesheet" type="text/css" href="./assets/front/css/style.css"/>
    <!-- gulp for vendor js files -->
    <script type="text/javascript" src="./frontoffice/dist/frontoffice_vendor_js.js"></script>
    <!-- gulp for app js files -->
    <script type="text/javascript" src="./frontoffice/dist/frontoffice_app.js"></script>
</head>

<body class="{{$root.bodyClass}}">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div> -->
    <div ng-if="$root.loader" class="full-page-loader">
        <img src="./assets/common/images/load-dribbble.gif" class="ajax-loader" style="width:15%; " />
    </div>
    <toaster-container toaster-options="{'close-button': true, 'allow-html': true, 'limit':3, 'body-output-type': 'trustedHtml'}"></toaster-container>
    <div class="ui-view"></div>   
        
</body>

</html>