<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{clientUser.title}} Client User</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.clientUser" class="btn btn-info btn-flat pull-left">Back to All Client User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="clientUserForm" novalidate angular-validator angular-validator-submit='clientUser.saveClientUser()'>
                                <input ng-if="clientUser.editFlag" type="hidden" name="user_id" ng-model="clientUser.clientUserForm.user_id">

                                <input ng-if="clientUser.usertypeFlag" type="hidden" name="usertype" ng-model="clientUser.clientUserForm.usertype">

                                <input ng-if="clientUser.registertypeFlag" type="hidden" name="registertype" ng-model="clientUser.clientUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">client Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="clientUser.clientUserForm.user_name" placeholder="Enter Client Name" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">client Email ID</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_username" ng-model="clientUser.clientUserForm.user_email" placeholder="Enter Client Email ID" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">client Contact number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="clientUser.clientUserForm.user_phone" placeholder="Enter Client Contact Number" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">client Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="clientUser.clientUserForm.user_address" placeholder="Enter Client Address" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">client Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="clientUser.clientUserForm.user_username" placeholder="Enter Client Username" validate-on='dirty' required="" ng-disabled="clientUser.clientUserForm.userusername">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="clientUser.clientUserForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in clientUser.statusList" ng-selected="clientUser.clientUserForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="clientUserForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!clientUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="clientUser.editFlag" ui-sref="backoffice.clientUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>