<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Client User</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{clientUser.totalClientUser}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.clientUser.create" class="btn btn-info btn-flat pull-left">Add New Client User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="clientUser.getClientUserList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="clientUser.sort('user_id')">Id
                                                <span ng-show="clientUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!clientUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="clientUser.sort('user_username')">Name
                                                <span ng-show="clientUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!clientUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="clientUser.sort('created_at')">Created At
                                                <span ng-show="clientUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!clientUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="clientUser.sort('status')">Status
                                                <span ng-show="clientUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!clientUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="clientUser.sort('is_suspend')">Suspend
                                                <span ng-show="clientUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!clientUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="clientUser.search.id" ng-blur="clientUser.changePage(1, clientUser.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="clientUser.search.name" ng-blur="clientUser.changePage(1, clientUser.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="clientUser.search.created_at" ng-change="clientUser.changePage(1,clientUser.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="clientUser.search.status" ng-change="clientUser.changePage(1,clientUser.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="clientUser.search.is_suspend" ng-change="clientUser.changePage(1,clientUser.search)">
                                                <option value="">Suspend</option>
                                                <option value="0">Not Suspend</option>
                                                <option value="1">Suspend</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="clientUser.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in clientUser.clientUserList | orderBy: clientUser.sortKey:clientUser.reverse|itemsPerPage: clientUser.clientUserPerPage" total-items="clientUser.totalClientUser" current-page="clientUser.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.clientUser.view({id:item.user_id})">{{item.user_id}}</a>
                                        </td>
                                        <td>{{item.user_username}}</td>
                                        <td class="text-center">{{ clientUser.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="clientUser.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.is_suspend == 1?'label-success':'label-warning'" ng-click="clientUser.changeSuspend(item)">{{item.is_suspend==1?'Suspend':'Not Suspend'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.clientUser.view({id: item.user_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-search"></i></a>
                                                <a ui-sref="backoffice.clientUser.edit({id: item.user_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a ng-click="clientUser.deleteClientUser(item.user_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="clientUser.clientUserList.length == 0">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="clientUser.changePage(newPageNumber,clientUser.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>