<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>Change Password</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->
<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <div class="tab_cont_details">
                        <div class="back_page_btn">
                            <a href="index.html" class="btn back_btn_here hover_effects">Back</a>
                        </div>
                        <div class="tab_cont_head">
                            <h4>Change Password :</h4>
                        </div>
                        <div class="profile_form_here">
                            <div class="profile_new_ne_sec">
                                <div class="form-group f_sel_margin_new">
                                    <span class="control-label col-sm-12 frm_label" for="email">Enter Current Password :</span>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                            <input id="password" type="password" class="form-control input_set_sec" name="password" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group f_sel_margin_new">
                                    <span class="control-label col-sm-12 frm_label" for="email">Enter New Password :</span>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                            <input id="password" type="password" class="form-control input_set_sec" name="password" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group f_sel_margin_new">
                                    <span class="control-label col-sm-12 frm_label" for="email">Retype New Password :</span>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon gr_set"><i class="fa fa-key" aria-hidden="true"></i></span>
                                            <input id="password" type="password" class="form-control input_set_sec" name="password" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form_submit_btn">
                                    <button type="button" class="btn btn_reset hover_effects">Cancel</button>
                                    <a href="#." type="button" class="btn btn_reset_sec hover_effects_sec">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>