<section class="bannner_section" style="background-image:url(assets/front/img/banner.jpg);">
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="banner_content">
                <img src="assets/front/img/side_logo.png" class="img-responsive banner_logo" alt="logo">
                <!-- <h1>{{$root.headerTitle}}</h1> -->
            </div>
        </div>
    </div>
</section>
<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="all_link_here">
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Register a Worker</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.worker.create" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont_sec">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Schedule an Appointment</h3>
                                <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.assessor" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont_third">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Booking Requests</h3>
                                <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero. </p>
                                <span class="dash_boar_btn">
                                    <a type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="link_tab_hre">
                            <div class="tab_cont_four">
                                <div class="overlay"></div>
                            </div>
                            <span class="text_set">
                                <h3>Added Workers</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                <span class="dash_boar_btn">
                                    <a ui-sref="frontoffice.worker" type="button" class="btn btn-sm btn_dash_b hover_effects">View Here</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
