<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);"><!--banner section start here-->
    <div class="overlay_sec"></div>
    <div class="container">
        <div class="row">
            <div class="next_bann_text">
                <h3>Cafe User Profile</h3>
            </div>
        </div>
    </div>
</section><!--banner section end here-->
<section class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="dashboard_all_det">
                <div class="tab_cont_det_all">
                    <div class="tab_cont_details">
                        <div class="back_page_btn">
                            <a ui-sref="frontoffice" class="btn back_btn_here hover_effects">Back</a>
                        </div>
                        <div class="tab_cont_head">
                            <h4>My Profile:</h4>
                        </div>
                        <div class="profile_form_here">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img">
                                        <img src="assets/front/img/profile_img.png" class="img-responsive" alt="profile"/>
                                        <div class="file-upload">
                                            <label for="upload" class="file-upload__label hover_effects">Change Profile Picture</label>
                                            <input id="upload" class="file-upload__input" type="file" name="file-upload">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="profile_new_f">
                                        <div class="form-group f_sel_margin">
                                            <span class="control-label col-sm-3 frm_label" for="email">Name<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input id="name" type="text" class="form-control input_set_sec" name="name" />
                                                    <span class="input-group-addon gr_set"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f_sel_margin">
                                            <span class="control-label col-sm-3 frm_label" for="email">Email ID<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input id="email_id" type="text" class="form-control input_set_sec" name="Email id" />
                                                    <span class="input-group-addon gr_set"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group f_sel_margin">
                                            <span class="control-label col-sm-3 frm_label" for="email">Contact Number<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input id="Connt_no" type="password" class="form-control input_set_sec" name="Contact Number" />
                                                    <span class="input-group-addon gr_set"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f_sel_margin">
                                            <span class="control-label col-sm-3 frm_label" for="email">Address<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <textarea id="Connt_no" type="password" class="form-control input_set_sec text_address" name="Contact Number"></textarea>
                                                    <span class="input-group-addon gr_set"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f_sel_margin">
                                            <span class="control-label col-sm-3 frm_label" for="email">Username<i class="fa fa-star form_star" aria-hidden="true"></i></span>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input id="Username" type="text" class="form-control input_set_sec" name="Username" />
                                                    <span class="input-group-addon gr_set"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group f_sel_margin">
                                            <span class="control-label col-sm-3 frm_label" for="email"></span>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <a href="appointment_form.html" type="button" class="btn btn_reset_sec hover_effects_sec">Update</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form_not_here">
                                            <p>( Note : all * marked fields are mandatory )</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>