<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{checklist.title}} Checklist</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.checklist" class="btn btn-info btn-flat pull-left">Back to All Checklist</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="checklistForm" novalidate angular-validator angular-validator-submit='checklist.saveChecklist()'>
                                <input ng-if="checklist.editFlag" type="hidden" name="checklist_id" ng-model="checklist.checklistForm.checklist_id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="checklist_name" ng-model="checklist.checklistForm.checklist_name" placeholder="Enter Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="checklist.checklistForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in checklist.statusList" ng-selected="checklist.checklistForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="checklistForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!checklist.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="checklist.editFlag" ui-sref="backoffice.checklist">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>