<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Checklist</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{checklist.totalChecklist}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.checklist.create" class="btn btn-info btn-flat pull-left">Add New Checklist</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="checklist.getChecklistList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="checklist.sort('checklist_id')">Id
                                                <span ng-show="checklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!checklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="checklist.sort('checklist_name')">Name
                                                <span ng-show="checklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!checklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                       <th class="text-center" style="width: 160px;">
                                            <a ng-click="checklist.sort('created_at')">Created At
                                                <span ng-show="checklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!checklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>  
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="checklist.sort('status')">Status
                                                <span ng-show="checklist.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!checklist.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>                                                                              
                                        
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="checklist.search.checklist_id" ng-blur="checklist.changePage(1, checklist.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="checklist.search.checklist_name" ng-blur="checklist.changePage(1, checklist.search)" placeholder="Name" class="form-control" />
                                        </td>

                                        <td>
                                            <md-datepicker ng-model="checklist.search.created_at" ng-change="checklist.changePage(1,checklist.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="checklist.search.status" ng-change="checklist.changePage(1,checklist.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>                                                                                
                                       
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="checklist.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in checklist.checklistList | orderBy: checklist.sortKey:checklist.reverse|itemsPerPage: checklist.checklistPerPage" total-items="checklist.totalChecklist" current-page="checklist.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.checklist.view({id:item.checklist_id})">{{item.checklist_id}}</a>
                                        </td>
                                        <td>{{item.checklist_name}}</td>
                                        <td class="text-center">{{ checklist.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="checklist.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>                                        
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.checklist.view({id: item.checklist_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-search"></i></a>
                                                <a ui-sref="backoffice.checklist.edit({id: item.checklist_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a ng-click="checklist.deleteChecklist(item.checklist_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="checklist.checklistList.length == 0">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="checklist.changePage(newPageNumber,checklist.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>