<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{role.title}} Role</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.role" class="btn btn-info btn-flat pull-left">Back to All Roles</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="roleForm" novalidate angular-validator angular-validator-submit='role.saveRole()'>
                                <input ng-if="role.editFlag" type="hidden" name="role_id" ng-model="role.roleForm.role_id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="role_name" ng-model="role.roleForm.role_name" placeholder="Enter Role Name" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="role.roleForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in role.statusList" ng-selected="role.roleForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="roleForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>