<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div class="d-flex flex-wrap">
							<div>
								<h3 class="card-title">{{rating.title}} Rating</h3>
							</div>
							<div class="ml-auto">
								<ul class="list-inline">
									<li>
										<h6 class="text-muted  text-info">
											<a ui-sref="backoffice.rating" class="btn btn-info btn-flat pull-left">Back to All Rating</a>
										</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="table-responsive">
							<form class="form-horizontal" name="addForm" novalidate angular-validator angular-validator-submit='rating.saveRating()' enctype="multipart/form-data">
								<input ng-if="rating.editFlag" type="hidden" name="ratingId" ng-model="rating.addForm.ratingId">
								<div class="form-group">
									<label class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control form-control-line" ng-model="rating.addForm.name"> 
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Status</label>
									<div class="col-sm-10">
										<select class="form-control" name="status" ng-model="rating.addForm.status" validate-on='dirty' required="">
											<option value="{{index}}" ng-repeat="(index, status) in rating.statusList" ng-selected="rating.addForm.status == index">{{status}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-2">
										<button type="submit" name="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
										<a ui-sref="backoffice.rating" class="btn btn-inverse waves-effect waves-light">Cancel</a>					
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
