<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Ratings</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{rating.totalRatings}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <!-- <li>
                                        <h6 class="text-muted text-success">
                                            <button type="button" class="btn btn-info btn-flat pull-left" ng-click="role.openSortRoleModal()"> Sort Roles</button>
                                        </h6> 
                                    </li> -->
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.rating.create" class="btn btn-info btn-flat pull-left">Add New Rating</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover" data-ng-init="rating.getRatingList(1,'')">
                                <thead>
                                    <tr>
                                        <th width="100px" class="text-center">
                                            <a ng-click="rating.sort('id')">Id
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center">
                                            <a ng-click="rating.sort('name')">Name
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center">
                                            <a ng-click="rating.sort('created_at')">Created At
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center">
                                            <a ng-click="rating.sort('status')">Status
                                                <span ng-show="rating.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="rating.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th width="100px" class="text-nowrap text-center">Action</th>
                                    </tr>  
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="rating.search.id" ng-blur="rating.changePage(1, rating.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="rating.search.name" ng-blur="rating.changePage(1, rating.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="rating.search.created_at" ng-change="rating.changePage(1,rating.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="rating.search.status" ng-change="rating.changePage(1,rating.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="rating.reset();" value="Reset" />
                                        </td>
                                    </tr>                          
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in rating.ratingList | orderBy: rating.sortKey:rating.reverse|itemsPerPage: rating.ratingsPerPage" total-items="rating.totalRatings" current-page="rating.pagination.current" >
                                        <td class="text-center">
                                            <a ui-sref="backoffice.rating.view({id:item.rating_id})">{{item.rating_id}}</a>
                                        </td>
                                        <td class="text-center">{{item.rating_name}}</td>
                                        <td class="text-center">{{rating.formatDate(item.created_at)}}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="rating.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-nowrap text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.rating.view({id: item.rating_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-search"></i></a>
                                                <a ui-sref="backoffice.rating.edit({id: item.rating_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a ng-click="rating.deleteRating(item.rating_id,itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="rating.ratingList.length == 0">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="rating.changePage(newPageNumber,rating.search)"></dir-pagination-controls>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>    
</div>

