<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{cafeUser.title}} Cafe User</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.cafeUser" class="btn btn-info btn-flat pull-left">Back to All Cafe User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="cafeUserForm" novalidate angular-validator angular-validator-submit='cafeUser.saveCafeUser()'>
                                <input ng-if="cafeUser.editFlag" type="hidden" name="user_id" ng-model="cafeUser.cafeUserForm.user_id">

                                <input ng-if="cafeUser.usertypeFlag" type="hidden" name="usertype" ng-model="cafeUser.cafeUserForm.usertype">

                                <input ng-if="cafeUser.registertypeFlag" type="hidden" name="registertype" ng-model="cafeUser.cafeUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="cafeUser.cafeUserForm.user_name" placeholder="Enter Cafe Name" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe Email ID</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_username" ng-model="cafeUser.cafeUserForm.user_email" placeholder="Enter Cafe Email ID" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe Contact number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="cafeUser.cafeUserForm.user_phone" placeholder="Enter Cafe Contact Number" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="cafeUser.cafeUserForm.user_address" placeholder="Enter Cafe Address" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="cafeUser.cafeUserForm.user_username" placeholder="Enter Cafe Username" validate-on='dirty' required="" ng-disabled="cafeUser.cafeUserForm.userusername">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="cafeUser.cafeUserForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in cafeUser.statusList" ng-selected="cafeUser.cafeUserForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="cafeUserForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!cafeUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="cafeUser.editFlag" ui-sref="backoffice.cafeUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>