<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-expanded="false">Change Password</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="false">
                    <div class="card-body">
                        <form class="form-horizontal form-material" novalidate angular-validator angular-validator-submit='profile.changePassword()'>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-line" placeholder="Password" type="password" name="password" ng-model="profile.passwordForm.password" validate-on='dirty' required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">New Password</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-line" placeholder="New Password" type="password" name="new_password" ng-model="profile.passwordForm.new_password" invalid-message = "passwordValidator(form.password)" validate-on='dirty' required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Confirm New Password</label>
                                <div class="col-md-12">
                                    <input class="form-control form-control-line" placeholder="Confirm New Password" type="password" name="confirm_passowrd" ng-model="profile.passwordForm.confirm_passowrd" validator = "profile.passwordForm.new_password === profile.passwordForm.confirm_passowrd" invalid-message = "'Passwords do not match!'" validate-on='dirty' required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" type="submit">Change Password</button>
                                    <button class="btn btn-default" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- Column -->
</div>