<div class="col-sm-8 col-md-8 col-lg-9">
    <div class="client_profile">
        <div class="order_detail_box border_dark">
            <div class="order_detail_box_in">
                <div class="order_head">
                    <h2>
                        <img ng-src="{{profile.profile_image_path}}" alt="" height="30" width="30" />Edit Profile
                    </h2>
                </div>
            </div>
            <div class="order_detail_box_in" data-ng-init="profile.getProfileInfo();">
                <form name="clientForm" novalidate angular-validator angular-validator-submit='profile.updateProfile()'>
                    <ul class="client_order_detail add_client">
                        <ul class="client_order_detail add_client">
                            <li>
                                <span>Name :</span>
                                <input placeholder="Enter first name" type="text" name="name" ng-model="profile.profileForm.name" validate-on='dirty' required="">
                            </li>
                            <li>
                                <span>Company :</span>
                                <input placeholder="Enter company name" type="text" name="company_name" ng-model="profile.profileForm.company_name">
                            </li>
                            <li>
                                <span>Office Address :</span>
                                <textarea placeholder="Enter address" name="address" ng-model="profile.profileForm.address"></textarea>
                            </li>
                            <li>
                                <span>Phone :</span>
                                <input placeholder="" type="text" name="phone" ng-model="profile.profileForm.phone">
                            </li>

                            <li>
                                <span>Email :</span>
                                <input placeholder="Enter your email" type="text" name="email" ng-model="profile.profileForm.email" validate-on='dirty' required=""
                                    readonly>
                            </li>

                            <li>
                                <div class="upload_file">
                                    <input type="file" ngf-select="uploadProfileImage($files, $invalidFiles)" ng-model="profile.profileForm.profile_image" name="profile_image"
                                        accept="image/*">
                                    <a href="#">Upload Photo</a>
                                </div>
                            </li>

                            <li>
                                <button type="submit">Save</button>
                            </li>
                        </ul>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>