<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{assessorsUser.title}} Assessors User</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.assessorsUser" class="btn btn-info btn-flat pull-left">Back to All Assessors User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="assessorsUserForm" novalidate angular-validator angular-validator-submit='assessorsUser.saveAssessorsUser()'>
                                <input ng-if="assessorsUser.editFlag" type="hidden" name="user_id" ng-model="assessorsUser.assessorsUserForm.user_id">

                                <input ng-if="assessorsUser.usertypeFlag" type="hidden" name="usertype" ng-model="assessorsUser.assessorsUserForm.usertype">

                                <input ng-if="assessorsUser.registertypeFlag" type="hidden" name="registertype" ng-model="assessorsUser.assessorsUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Assessors Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="assessorsUser.assessorsUserForm.assessors_name" placeholder="Enter Assessors Name" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Assessors Email ID</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_username" ng-model="assessorsUser.assessorsUserForm.assessors_email" placeholder="Enter Assessors Email ID" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Assessors Contact number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="assessorsUser.assessorsUserForm.assessors_phone" placeholder="Enter Assessors Contact Number" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Assessors Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="assessorsUser.assessorsUserForm.assessors_address" placeholder="Enter Assessors Address" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Assessors Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="assessorsUser.assessorsUserForm.user_username" placeholder="Enter Assessors Username" validate-on='dirty' required="" ng-disabled="assessorsUser.assessorsUserForm.userusername">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="assessorsUser.assessorsUserForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in assessorsUser.statusList" ng-selected="assessorsUser.assessorsUserForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="assessorsUserForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!assessorsUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="assessorsUser.editFlag" ui-sref="backoffice.assessorsUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>