<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{workerUser.title}} Worker User</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.workerUser" class="btn btn-info btn-flat pull-left">Back to All Worker User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive" data-ng-init="workerUser.getAllCafeUser()">
                            <form class="form-horizontal" name="workerUserForm" novalidate angular-validator angular-validator-submit='workerUser.saveWorkerUser()'>
                                <input ng-if="workerUser.editFlag" type="hidden" name="user_id" ng-model="workerUser.workerUserForm.user_id">

                                <input ng-if="workerUser.usertypeFlag" type="hidden" name="usertype" ng-model="workerUser.workerUserForm.usertype">

                                <input ng-if="workerUser.registertypeFlag" type="hidden" name="registertype" ng-model="workerUser.workerUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cafe User List</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="workerUser.workerUserForm.cafeID" validate-on='dirty' required="">
                                            <!-- <option value="">Select Cafe</option> -->
                                            <option value="{{status.user_id}}" ng-repeat="(index, status) in workerUser.cafeUserList">{{status.cafeusers_name}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Worker Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="workerUser.workerUserForm.user_name" placeholder="Enter Worker Name" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Worker Email ID</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_username" ng-model="workerUser.workerUserForm.user_email" placeholder="Enter Worker Email ID" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Worker Contact number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="workerUser.workerUserForm.user_phone" placeholder="Enter Worker Contact Number" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Worker Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="workerUser.workerUserForm.user_address" placeholder="Enter Worker Address" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Worker Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="workerUser.workerUserForm.user_username" placeholder="Enter Worker Username" validate-on='dirty' required="" ng-disabled="workerUser.workerUserForm.userusername">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="workerUser.workerUserForm.status" validate-on='dirty' required="">
                                            <option value="">Select Status</option>
                                            <option value="{{index}}" ng-repeat="(index, status) in workerUser.statusList" ng-selected="workerUser.workerUserForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Image upload</label>
                                    <!-- <div class="upload_file">
                                        <input type="file" ngf-select="uploadMultipleDocument($files, $invalidFiles)" ng-model="photographer.addForm.document_file" name="document_file" multiple><a href="#">Upload Document</a>
                                    </div>  -->
             
                                    <div class="col-sm-10">
                                        <input type="file" file-model="myFile" ngf-select="workerUser.onFileSelect($files)" >
                                        <img ng-show="myFile" ng-src="{{myFile}}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="workerUserForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!workerUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="workerUser.editFlag" ui-sref="backoffice.workerUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>