<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">View Worker User</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.workerUser" class="btn btn-info btn-flat pull-left">Back to All Worker User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                    <tr>
                                        <th width="150px">ID</th>
                                        <td>{{workerUser.singleWorkerUser.user_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>User Name</th>
                                        <td>{{workerUser.singleWorkerUser.user_username}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{workerUser.singleWorkerUser.workers_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>{{workerUser.singleWorkerUser.workers_email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Number</th>
                                        <td>{{workerUser.singleWorkerUser.workers_phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{workerUser.singleWorkerUser.workers_address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cafe User</th>
                                        <td>{{workerUser.singleWorkerUser.cafeuser_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            <span class="label status" ng-class="workerUser.singleWorkerUser.status == 1 ? 'label-success' : 'label-warning'">
                                                {{workerUser.singleWorkerUser.status == 1 ? 'Approved' : 'Not Approved'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suspend Status</th>
                                        <td>
                                            <span class="label status" ng-class="workerUser.singleWorkerUser.is_suspend == 1 ? 'label-success' : 'label-warning'">
                                                {{workerUser.singleWorkerUser.is_suspend == 1 ? 'Suspend' : 'Not Suspend'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{workerUser.formatDate(workerUser.singleWorkerUser.created_at)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated At</th>
                                        <td>{{workerUser.formatDate(workerUser.singleWorkerUser.updated_at)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>