<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="foo_col_here">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_logo">
                            <a ui-sref="frontoffice">
                                <img src="assets/front/img/logo.png" class="img-responsive f_logo" alt="logo"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_link">
                            <div class="foo_link_header">
                                <h3>Our Links</h3>
                            </div>
                            <div class="link_here">
                                <ul>
                                    <li><a ui-sref="frontoffice.terms_condition">Terms and Condition</a></li>
                                    <li><a ui-sref="frontoffice.privacy_policy">Privacy Policy</a></li>
                                    <li><a ui-sref="frontoffice.faq">Faq</a></li>
                                <ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_link">
                            <div class="foo_link_header">
                                <h3>Contact Us</h3>
                            </div>
                            <div class="link_here">
                                <ul>
                                    <li><a>Email: heavensent@11.com</a></li>
                                    <li><a>Phone: +91 012 3456 789</a></li>
                                    <li><a>Fax: +1 (0) 000 0000 002</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="foot_link">
                            <div class="foo_link_header">
                                <h3>Follow Us</h3>
                            </div>
                            <div class="link_here_sec">
                                <ul>
                                    <li>
                                        <a>
                                            <span class="fb_span"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="tw_span"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="li_span"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="web_not">
                <p>Heaven Sent &copy; 2018. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
