<header class="header_section"><!--header section start here-->
    <div class="header_menu_here">
        <div class="headerlogo_here">
            <a ui-sref="frontoffice"><img src="assets/front/img/logo.png" class="img-responsive" alt="logo"/></a>
        </div>
        <div class="header_sid_li">
            <div class="header_nav">
                <nav class="navbar navbar_section">
                    <ul>
                        <li>
                            <a ui-sref="frontoffice.worker.create">Register worker</a>
                        </li>
                        <li>
                            <a ui-sref="frontoffice.assessor">Schedule Appointment</a>
                        </li>
                        <!-- <li>
                            <a>Booking Request</a>
                        </li> -->
                        <li>
                            <a ui-sref="frontoffice.worker">Added Workers</a>
                        </li>
                        <li>
                            <a ui-sref="auth.login">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="responsive_nav"><!--responsive toglr btn here-->
                <span class="respo_togle_menu" onclick="toglr_menu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
            </div><!--responsive navbar btn here-->
            <div class="search_bar">
                <input type="text" class="form-control input_ann_box" placeholder="Type Here To Search" />
                <button class="btn ann_btn_input" onclick="serch_bardemo()"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="header_side_link">
                <div class="dropdown drop_dow_prof">
                    <a href="#." class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/front/img/profile_img01.png" class="img-responsive img-circle icon_width img-thumbnail"/>
                    <span class="fa fa-caret-down arrow_down_drop"></span></a>
                    <ul class="dropdown-menu drop_menu">
                        <li><a ui-sref="frontoffice.profile">My Profile</a></li>
                        <li><a ui-sref="frontoffice.changePassword">Change Password</a></li>
                        <li><a ui-sref="auth.logout">Logout</a></li>
                        <li><a href="settings.html">Setting</a></li>
                    </ul>
                </div> 
                <!-- <a id="menu-toggle" href="#" class="toggle togle_btn"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
            </div>
        </div>
    </div>
</header>