<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);">
    <div class="overlay_sec"></div>
      <div class="container">
        <div class="row">
          <div class="next_bann_text">
            <h3>Worker Registration Form</h3>
          </div>
        </div>
      </div>
</section>

<section class="dashboard_content">
  <div class="container">
    <div class="row">
      <div class="dashboard_all_det">
        <div class="residte_tab_content">
          <div class="tab_sect">  
            <div class="clearfix tab_cont_det_all">
              <div class="tab_cont_details">

              <form class="form-horizontal" name="workerForm" novalidate angular-validator angular-validator-submit='worker.saveWorker()'>

              <input ng-if="worker.editFlag" type="hidden" name="user_id" ng-model="worker.workerForm.user_id">

              <input ng-if="worker.usertypeFlag" type="hidden" name="usertype" ng-model="worker.workerForm.usertype">

              <input ng-if="worker.registertypeFlag" type="hidden" name="registertype" ng-model="worker.workerForm.registertype">
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form_here">
                        <span class="class_label">Name</span>
                        <div class="input_box_main">
                        <input type="text" class="form-control input_set" name="user_username" ng-model="worker.workerForm.user_name" placeholder="Enter Worker Name" validate-on='dirty' required="">
                        </div>
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form_here">
                        <span class="class_label">Address</span>
                        <div class="input_box_main">
                        <input type="text" class="form-control input_set" name="user_username" ng-model="worker.workerForm.user_address" placeholder="Enter Worker Address" validate-on='dirty' required="">
                        
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form_here">
                        <span class="class_label">Contact Number</span>
                        <div class="input_box_main">
                        <input type="text" class="form-control input_set" name="user_username" ng-model="worker.workerForm.user_phone" placeholder="Enter Worker Contact Number" validate-on='dirty' required="">
                       
                        </div>
                    </div>
                  </div>
                 
                  <div class="col-md-6">
                    <div class="form_here">
                      <span class="class_label">Username</span>
                      <div class="input_box_main">
                      <input type="text" class="form-control" name="user_username" ng-model="worker.workerForm.user_username" placeholder="Enter Worker Username" validate-on='dirty' required="">
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form_here">
                      <span class="class_label">Work Type</span>
                      <div class="input_box_main">
                        <select class="form-control input_set" name="status" ng-model="worker.workerForm.status" validate-on='dirty' required="">
                              <option value="">Select Status</option>
                              <option value="{{index}}" ng-repeat="(index, status) in worker.WorkTypeList" ></option>
                        </select>
                      </div>
                      
                    </div>
                  </div> 

                  <div class="form_submit_btn">
                    <!-- <button type="button" class="btn btn_reset hover_effects">Reset</button> -->
                      <button class="btn btn_reset_sec hover_effects_sec">Register a Worker</button>
                  </div>
                  
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>