<section class="banner_sec_section" style="background-image:url(assets/front/img/banner_sec.jpg);">
    <div class="overlay_sec"></div>
      <div class="container">
        <div class="row">
          <div class="next_bann_text">
            <h3>Added Workers</h3>
          </div>
        </div>
      </div>
</section>

<section class="dashboard_content">
              <div class="container">
                <div class="row">
                  <div class="dashboard_all_det">
                    <div class="residte_tab_content">
                      <div class="tab_sect">  
                        <div class="clearfix tab_cont_det_all">
                          <div class="tab_cont_details">
                            
                            <div class="boook_req_table">
                              <div class="book_status_form">
                               
                              </div>
                              <div class="table_book_re_here">
                                <div class="table-responsive">
                                  <table class="table table_set_here_sec " data-ng-init="workerUser.getWorkerUserList(1,'')">
                                  <thead>
                                    </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in workerUser.workerUserList | orderBy: workerUser.sortKey:workerUser.reverse|itemsPerPage: workerUser.workerUserPerPage" total-items="workerUser.totalWorkerUser" current-page="workerUser.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="frontoffice.worker.view({id:item.user_id})">{{item.user_id}}</a>
                                        </td>
                                        <td>{{item.user_username}}</td>
                                        <td class="text-center">{{ workerUser.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="workerUser.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.is_suspend == 1?'label-success':'label-warning'" ng-click="workerUser.changeSuspend(item)">{{item.is_suspend==1?'Suspend':'Not Suspend'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="frontoffice.worker.view({id: item.user_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-search"></i></a>
                                                <a ui-sref="frontoffice.worker.edit({id: item.user_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a ng-click="workerUser.deleteWorkerUser(item.user_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="workerUser.workerUserList.length == 0">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                                  </table>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>