<form class="form-horizontal form-material" id="loginform" angular-validator-submit="auth.forgotPassword(form.email)" name="loginform" novalidate angular-validator>
    <a href="javascript:void(0)" class="text-center db">
        <h2>Heaven<br/>Administrator Panel</h2>        
    </a>
    <hr/>
    <div class="form-group ">
        <div class="col-xs-12 text-center">
            <h3>Recover Password</h3>
            <p class="text-muted text-center">Enter your Email and instructions will be sent to you! </p>
        </div>
    </div>
    <div class="form-group m-t-40">
        <div class="col-xs-12">
            <input class="form-control" type="email" placeholder="Email" name="email" ng-model="form.email" invalid-message="'Invalid Email address entered'" validate-on='dirty' />
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Send</button>
        </div>
    </div>
    <div class="form-group text-center">
        <a ui-sref="auth.login" class="text-center">Back to Login</a>
    </div>
</form>