<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{adminUser.title}} Admin User</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.adminUser" class="btn btn-info btn-flat pull-left">Back to All Admin User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="adminUserForm" novalidate angular-validator angular-validator-submit='adminUser.saveAdminUser()'>
                                <input ng-if="adminUser.editFlag" type="hidden" name="user_id" ng-model="adminUser.adminUserForm.user_id">

                                <input ng-if="adminUser.usertypeFlag" type="hidden" name="usertype" ng-model="adminUser.adminUserForm.usertype">

                                <input ng-if="adminUser.registertypeFlag" type="hidden" name="registertype" ng-model="adminUser.adminUserForm.registertype">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Admin Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_name" placeholder="Enter Admin Name" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Admin Email ID</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_email" placeholder="Enter Admin Email ID" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Admin Contact number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_phone" placeholder="Enter Admin Contact Number" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Admin Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_address" placeholder="Enter Admin Address" validate-on='dirty' required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Admin Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="user_username" ng-model="adminUser.adminUserForm.user_username" placeholder="Enter Admin Username" validate-on='dirty' required="" ng-disabled="adminUser.adminUserForm.userusername">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status" ng-model="adminUser.adminUserForm.status" validate-on='dirty' required="">
                                            <option value="{{index}}" ng-repeat="(index, status) in adminUser.statusList" ng-selected="adminUser.adminUserForm.status == index">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="adminUserForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!adminUser.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="adminUser.editFlag" ui-sref="backoffice.adminUser">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>