<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Admin User</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{adminUser.totalAdminUser}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.adminUser.create" class="btn btn-info btn-flat pull-left">Add New Admin User</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="adminUser.getAdminUserList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="adminUser.sort('user_id')">Id
                                                <span ng-show="adminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!adminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="adminUser.sort('user_username')">Name
                                                <span ng-show="adminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!adminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 160px;">
                                            <a ng-click="adminUser.sort('created_at')">Created At
                                                <span ng-show="adminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!adminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="adminUser.sort('status')">Status
                                                <span ng-show="adminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!adminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="adminUser.sort('is_suspend')">Suspend
                                                <span ng-show="adminUser.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!adminUser.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="adminUser.search.id" ng-blur="adminUser.changePage(1, adminUser.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="adminUser.search.name" ng-blur="adminUser.changePage(1, adminUser.search)" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="adminUser.search.created_at" ng-change="adminUser.changePage(1,adminUser.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="adminUser.search.status" ng-change="adminUser.changePage(1,adminUser.search)">
                                                <option value="">Status</option>
                                                <option value="0">Not Approved</option>
                                                <option value="1">Approved</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="adminUser.search.is_suspend" ng-change="adminUser.changePage(1,adminUser.search)">
                                                <option value="">Suspend</option>
                                                <option value="0">Not Suspend</option>
                                                <option value="1">Suspend</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="adminUser.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in adminUser.adminUserList | orderBy: adminUser.sortKey:adminUser.reverse|itemsPerPage: adminUser.adminUserPerPage" total-items="adminUser.totalAdminUser" current-page="adminUser.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.adminUser.view({id:item.user_id})">{{item.user_id}}</a>
                                        </td>
                                        <td>{{item.user_username}}</td>
                                        <td class="text-center">{{ adminUser.formatDate(item.created_at) }}</td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="adminUser.changeStatus(item)">{{item.status==1?'Approved':'Not Approved'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label status" ng-class="item.is_suspend == 1?'label-success':'label-warning'" ng-click="adminUser.changeSuspend(item)">{{item.is_suspend==1?'Suspend':'Not Suspend'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.adminUser.view({id: item.user_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-search"></i></a>
                                                <a ui-sref="backoffice.adminUser.edit({id: item.user_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a ng-click="adminUser.deleteAdminUser(item.user_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="adminUser.adminUserList.length == 0">
                                        <td colspan="6"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="adminUser.changePage(newPageNumber,adminUser.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>