<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">{{demo.title}} Demo</h3>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.demo" class="btn btn-info btn-flat pull-left">Back to All Demos</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form class="form-horizontal" name="demoForm" novalidate angular-validator angular-validator-submit='demo.saveDemo()' enctype="multipart/form-data" >
                                <input ng-if="demo.editFlag" type="hidden" name="demo_id" ng-model="demo.demoForm.demo_id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Data</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="demo_question" ng-model="demo.demoForm.demo_data" placeholder="Enter Data">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" ngf-select ng-model="demo.demoForm.file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}">
                                         
                                    </div>
                                </div>
                               
                                
                                
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" ng-disabled="demoForm.$invalid">Submit</button>
                                        <button type="reset" class="btn btn-warning" ng-if="!demo.editFlag">Reset</button>
                                        <a class="btn btn-warning" ng-if="demo.editFlag" ui-sref="backoffice.demo">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>