<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">All Demo Data</h3>
                                <h6 class="card-subtitle"><b>Total Records</b> : {{demo.totalDemos}}</h6>
                            </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-muted  text-info">
                                            <a ui-sref="backoffice.demo.create" class="btn btn-info btn-flat pull-left">Add New Demo</a>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table no-margin table-bordered" data-ng-init="demo.getDemosList(1,'')">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;">
                                            <a ng-click="demo.sort('demo_id')">Id
                                                <span ng-show="demo.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!demo.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="demo.sort('demo_data')">Data
                                                <span ng-show="demo.reverse" class="fa fa-caret-down"></span>
                                                <span ng-show="!demo.reverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        
                                        <th style="width: 150px;" class="text-center">Action</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" ng-model="demo.search.demo_id" ng-blur="demo.changePage(1, demo.search)" placeholder="Id" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="demo.search.demo_data" ng-blur="demo.changePage(1, demo.search)" placeholder="Question" class="form-control" />
                                        </td>
                                       
                                        <td class="text-center">
                                            <input type="button" class="btn btn-warning btn-flat" ng-click="demo.reset();" value="Reset" />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(itemIndex, item) in demo.demoList | orderBy: demo.sortKey:demo.reverse|itemsPerPage: demo.demosPerPage" total-items="demo.totalDemos" current-page="demo.pagination.current">
                                        <td class="text-center">
                                            <a ui-sref="backoffice.demo.view({id:1})">{{item.demo_id}}</a>
                                        </td>
                                        <td>{{item.demo_data}}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a ui-sref="backoffice.demo.view({id: item.demo_id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-search"></i></a>
                                                <a ui-sref="backoffice.demo.edit({id: item.demo_id})" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-edit"></i></a>
                                                <a ng-click="demo.deleteDemo(item.demo_id, itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="demo.demoList.length == 0">
                                        <td colspan="5"><div class="alert alert-info text-center">No records found!</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="demo.changePage(newPageNumber,demo.search)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>